/* Here is your custom css styles. */
/* tag note */
.post-container .note {
    position: relative;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: initial;
    border-left: 3px solid #eee;
    box-shadow: 0 0 3px gray;
    background-color: #f9f9f9;
    border-radius: .35rem;
    font-size: var(--content-font-size);
}

.post-container .note:not(.no-icon):before {
    position: absolute;
    font-family: FontAwesome;
    font-size: larger;
    top: 15px;
    left: 15px;
}

.post-container .note:not(.no-icon) {
    padding-left: 45px;
}

.post-container .note.info {
    background-color: #eef7fa;
    border-left-color: #428bca;
}

.post-container .note.info:not(.no-icon):before {
    content: "\f05a";
    color: #428bca;
}

.post-container .note.warning {
    background-color: #fdf8ea;
    border-left-color: #f0ad4e;
}

.post-container .note.warning:not(.no-icon):before {
    content: "\f06a";
    color: #f0ad4e;
}

.post-container .note.primary {
    background-color: #f5f0fa;
    border-left-color: #6f42c1;
}

.post-container .note.primary:not(.no-icon):before {
    content: "\f055";
    color: #6f42c1;
}

.post-container .note.danger {
    background-color: #fcf1f2;
    border-left-color: #d9534f;
}

.post-container .note.danger:not(.no-icon):before {
    content: "\f056";
    color: #d9534f;
}

/* fix tabs style */
.tag-common.tabs {
    height: auto;
}